.main-view-products {
    padding: 10px;
}

.card-products-dasboard {
    background-color: #272953;
    color: #fff;
}

.card-products-dasboard:hover {
    background-color: #2b3091;
}

.title-main-view-products {
    color: #fff;
}

.pagination {
    display: flex;
    justify-content: flex-end;
}

.pagination button {
    color: #fff;
}

.button-add-product {
    margin-bottom: 10px;
    display: flex;
    justify-content: flex-end;
}


/*style dialog*/

.MuiDialog-paper {
    background-color: #2b3091 !important;
    overflow-x: hidden !important;
    color: rgb(255 255 255 / 87%) !important;
}