<%- include ("../partials/head") -%>
    <form action="/products/save" method="post" enctype="multipart/form-data">

        <main class="main-newProduct">
            <h2>Crear nuevo producto</h2>
            <div class="container">

                <section class="nombreProduct">
                    <label for="name">Nombre</label>
                    <input type="text" name="name" id="nameProduct" />
                </section>

                <section class="descripcionProduct">
                    <label for="description">Descripción</label>
                    <input type="text" name="description" id="description" />
                </section>

                <section class="precioProduct">
                    <label for="price">Precio</label>
                    <input type="number" name="price" id="price" />
                </section>

                <section class="categoriaProduct">
                    <label for="category">Categoría</label>
                    <select name="category" id="category">
                        <option value="">Seleccione una opción</option>
                        <option value="1">Todos</option>
                        <option value="2">Arreglos florales</option>
                        <option value="3">Arreglos florales</option>
                        <option value="4">Globos y dulces</option>
                        <option value="5">Desayunos</option>
                    </select>
                </section>

                <section class="temporadaProduct">
                    <label for="season">Temporada</label>
                    <select name="season" id="season">
                        <option value="">Seleccione una opción</option>
                        <option value="1">Todo el año</option>
                        <option value="2">Feliz día</option>
                        <option value="3">Amor</option>
                        <option value="4">Cumpleaños</option>
                        <option value="5">Día del padre</option>
                        <option value="6">Día de la madre</option>
                        <option value="7">Día del niño</option>
                    </select>
                </section>

                <section class="imagesProduct">
                    <label for="image">Ingresar imagen</label>
                    <input type="file" name="image" id="image" />
                </section>

                <section class="botones">
                    <button type="submit">Guardar</button>
                    <button type="reset">Borrar todo</button>
                </section>

            </div>
        </main>
    </form>

    <%- include ('../partials/footer') -%>