<%- include ('../partials/head') -%>
    <div class="container-informacion">
        <div class="mision">
            <h3>Datos de contacto</h3>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Commodi quia qui iusto quae, blanditiis fuga ullam dolor aspernatur quo veritatis ducimus. Vitae dolorem illum dignissimos ducimus ea alias sed incidunt! Quaerat ad eum, quod officiis
                magnam quidem eius dicta beatae, cupiditate aperiam aspernatur tempora sint. Exercitationem error ad, porro aut nesciunt officia numquam tenetur dolorum esse repudiandae voluptatibus ipsum tempore? Sapiente quam aspernatur ipsum veniam
                unde, error ea eaque provident obcaecati deleniti repudiandae hic animi alias laboriosam recusandae similique! Dolorem, voluptas sed. Incidunt officiis enim eos voluptatibus deserunt? Illum, dolores. Eaque quia laborum cupiditate ullam
                placeat? Provident, quod voluptatum adipisci numquam fugiat obcaecati blanditiis soluta, quas ratione quisquam accusamus deserunt ullam placeat nobis explicabo doloremque ipsa esse temporibus ex? Asperiores. Quod beatae dolor, nemo ducimus
                velit sapiente necessitatibus suscipit molestias praesentium quibusdam obcaecati cumque! Velit, tempora eligendi facilis cum eum vitae necessitatibus nisi sapiente quos cumque, dolorum dicta, quaerat eveniet. Fugit deleniti fuga non laudantium
                ea tempora sequi labore ex fugiat ad, nihil atque ducimus natus sit beatae corrupti, asperiores sapiente similique maiores praesentium doloremque autem vero molestiae dolore! Quibusdam? Ipsam minima necessitatibus doloremque quia magni
                nobis sit incidunt inventore, sint vero, blanditiis id laboriosam officia itaque explicabo vel corrupti. Eum asperiores ut architecto, voluptatem ullam porro a. Facilis, totam! Animi possimus at accusamus ipsam, debitis ratione sint repellendus.
                Dolorem impedit soluta, aliquid labore illum voluptas illo blanditiis neque. Deserunt eaque vero dolorem odio maiores tenetur illum aspernatur harum? Hic. Perspiciatis, doloremque! Distinctio molestiae illo vero! Illum fugiat sint facilis,
                facere perferendis excepturi tenetur aut, eveniet fugit laborum placeat, consequatur atque officia cumque nulla nemo expedita recusandae architecto tempore nobis? Debitis eligendi, libero quasi quam nesciunt dolores odit ducimus itaque
                esse eum, reiciendis culpa quidem doloribus? Adipisci ex tempora id doloribus, dolor excepturi minus sed quis nobis aliquid repudiandae soluta?</p>
        </div>
        <div class="vision">
            <h3>Otro medios de contacto</h3>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Commodi quia qui iusto quae, blanditiis fuga ullam dolor aspernatur quo veritatis ducimus. Vitae dolorem illum dignissimos ducimus ea alias sed incidunt! Quaerat ad eum, quod officiis
                magnam quidem eius dicta beatae, cupiditate aperiam aspernatur tempora sint. Exercitationem error ad, porro aut nesciunt officia numquam tenetur dolorum esse repudiandae voluptatibus ipsum tempore? Sapiente quam aspernatur ipsum veniam
                unde, error ea eaque provident obcaecati deleniti repudiandae hic animi alias laboriosam recusandae similique! Dolorem, voluptas sed. Incidunt officiis enim eos voluptatibus deserunt? Illum, dolores. Eaque quia laborum cupiditate ullam
                placeat? Provident, quod voluptatum adipisci numquam fugiat obcaecati blanditiis soluta, quas ratione quisquam accusamus deserunt ullam placeat nobis explicabo doloremque ipsa esse temporibus ex? Asperiores. Quod beatae dolor, nemo ducimus
                velit sapiente necessitatibus suscipit molestias praesentium quibusdam obcaecati cumque! Velit, tempora eligendi facilis cum eum vitae necessitatibus nisi sapiente quos cumque, dolorum dicta, quaerat eveniet. Fugit deleniti fuga non laudantium
                ea tempora sequi labore ex fugiat ad, nihil atque ducimus natus sit beatae corrupti, asperiores sapiente similique maiores praesentium doloremque autem vero molestiae dolore! Quibusdam? Ipsam minima necessitatibus doloremque quia magni
                nobis sit incidunt inventore, sint vero, blanditiis id laboriosam officia itaque explicabo vel corrupti. Eum asperiores ut architecto, voluptatem ullam porro a. Facilis, totam! Animi possimus at accusamus ipsam, debitis ratione sint repellendus.
                Dolorem impedit soluta, aliquid labore illum voluptas illo blanditiis neque. Deserunt eaque vero dolorem odio maiores tenetur illum aspernatur harum? Hic. Perspiciatis, doloremque! Distinctio molestiae illo vero! Illum fugiat sint facilis,
                facere perferendis excepturi tenetur aut, eveniet fugit laborum placeat, consequatur atque officia cumque nulla nemo expedita recusandae architecto tempore nobis? Debitis eligendi, libero quasi quam nesciunt dolores odit ducimus itaque
                esse eum, reiciendis culpa quidem doloribus? Adipisci ex tempora id doloribus, dolor excepturi minus sed quis nobis aliquid repudiandae soluta?</p>
        </div>
    </div>
    <%- include ('../partials/footer') -%>