.container-footer {
    display: flex;
    justify-content: space-around;
    height: auto;
}

.email-footer {
    display: flex;
    justify-content: center;
    gap: 2em;
    background-color: var(--color-negro);
    height: 70px;
    margin-bottom: 20px;
}

.email-footer p {
    line-height: 67px;
    color: var(--color-blanco);
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}

.email-footer input {
    height: 50px;
    display: flex;
    margin-top: 8px;
    border-radius: 7px;
    outline: none;
    border: none;
    padding-left: 5px;
}

.email-footer button {
    height: 50px;
    background-color: var(--color-principal);
    margin-top: 8px;
    border-radius: 7px;
    border: none;
    width: 100px;
    color: var(--color-blanco);
    font-weight: bold;
    font-size: 17px;
}

.copyright {
    margin-top: 30px;
    text-align: center;
}

.icon-redes {
    display: flex;
    justify-content: space-evenly;
}

.icon-redes a i {
    font-size: 30px;
    margin-top: 20px;
}

.pie-pagina {
    font-size: 18px;
    font-weight: bold;
}

.pagos img {
    height: 41px;
}

.pagos {
    display: flex;
}