  #mainSecctionTop {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: center;
      position: relative;
  }
  
  #imagenPrincipal {
      width: 100vw;
      height: 35vh;
      margin-bottom: 10px;
  }
  
  #mainArticleTop {
      position: absolute;
      text-align: center;
  }
  
  #tituloGancho {
      font-size: 3rem;
      font-weight: bold;
      text-shadow: 0px 0px 0.8rem white;
  }
  
  #subTituloGancho {
      font-size: 1.8rem;
      text-shadow: 0px 0px 0.8rem white;
  }
  
  h2 {
      font-size: 2.2rem;
      text-align: center;
      margin-bottom: 10px;
  }
  
  .boxesCat {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: center;
      margin-bottom: 10px;
      position: relative;
  }
  
  .imgCateg {
      width: 90vw;
  }
  
  .imgCateg:hover {
      box-shadow: 0px 0px 10px rgb(100, 100, 100);
  }
  
  .infoBoxeCat {
      width: 50vw;
      position: absolute;
      left: 8vw;
      bottom: 3vw;
      text-align: center;
  }
  
  .tituloCat {
      font-size: 1.8rem;
      text-shadow: 0px 0px 0.8rem white;
  }
  
  p {
      font-size: 1rem;
      text-shadow: 0px 0px 0.8rem white;
  }
  
  .boton {
      background-color: #9feaf5;
      font-size: 1rem;
      height: 35px;
      border-radius: 5px;
      padding: 0.5rem;
  }
  
  .boton:hover {
      text-decoration: underline;
      cursor: pointer;
  }
  
  .boton:active {
      text-shadow: 0px 0px 10px rgb(100, 100, 100);
  }
  
  .boxesTemp {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: center;
  }
  
  .imgTemp {
      width: 95vw;
      height: 70px;
      margin-bottom: 1rem;
  }
  
  .imgTemp:hover {
      box-shadow: 0px 0px 10px rgb(100, 100, 100);
  }
  
  #insta {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
      width: 60vw;
      margin: auto;
      margin-bottom: 1rem;
  }
  
  #subInsta {
      display: block;
  }
  
  #tituloInsta {
      font-size: 1.2rem;
  }
  
  .imgClassInsta {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
  }
  
  .imgInstagram {
      width: 35vw;
      height: 35vw;
      margin-bottom: 2rem;
  }
  
  @media screen and (min-width: 768px) {
      #mainSecctionTop {
          display: flex;
          justify-content: flex-start;
      }
      #imagenPrincipal {
          height: 70vh;
          margin-bottom: 10px;
      }
      #mainArticleTop {
          width: 50%;
          position: absolute;
          left: 1rem;
          bottom: 2rem;
          text-align: left;
      }
      h2 {
          text-align: left;
          margin-left: 1.1rem;
      }
      .bigBoxes {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: space-around;
      }
      .boxesCat {
          width: 45vw;
      }
      .infoBoxeCat {
          width: 23vw;
          left: 1vw;
          bottom: 2vw;
          text-align: center;
      }
      .tituloCat {
          font-size: 1.6rem;
          text-shadow: 0px 0px 0.8rem white;
      }
      p {
          font-size: 0.8rem;
          text-shadow: 0px 0px 0.8rem white;
      }
      .imgTemp {
          height: 90px;
          margin-bottom: 1rem;
      }
      #insta {
          display: flex;
          justify-content: flex-start;
          width: 100vw;
      }
      #subInsta {
          margin-left: 2rem;
      }
      .imgInstagram {
          width: 30vw;
          height: 30vw;
          margin-bottom: 1.4rem;
      }
  }
  
  @media screen and (min-width: 1024px) {
      #mainSecctionTop {
          display: flex;
          justify-content: flex-start;
      }
      #imagenPrincipal {
          height: 70vh;
          margin-bottom: 10px;
      }
      #mainArticleTop {
          width: 50%;
          position: absolute;
          left: 1rem;
          bottom: 2rem;
          text-align: left;
      }
      h2 {
          text-align: left;
          margin-left: 1.1rem;
      }
      .bigBoxes {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: space-around;
      }
      .boxesCat {
          width: 30vw;
      }
      .infoBoxeCat {
          width: 17vw;
          left: 0.5vw;
          bottom: 1vw;
          text-align: center;
      }
      .tituloCat {
          font-size: 1.6rem;
          text-shadow: 0px 0px 0.8rem white;
      }
      p {
          font-size: 0.8rem;
          text-shadow: 0px 0px 0.8rem white;
      }
      .imgTemp {
          height: 90px;
          margin-bottom: 1rem;
      }
      #insta {
          display: flex;
          justify-content: flex-start;
          width: 100vw;
      }
      #subInsta {
          margin-left: 2rem;
      }
      .imgInstagram {
          width: 23vw;
          height: 23vw;
          margin-bottom: 1.2rem;
      }
  }