.contenedor-product-detail {
    width: 90%;
    margin: 20px auto;
}

.product-detail-info-product h3 {
    font-size: 2rem;
    margin-bottom: 5px;
}

.price-detail {
    margin-bottom: 25px;
    font-size: 2rem;
    font-weight: bold;
}

.category-detail {
    margin-bottom: 25px;
    font-size: 2rem;
    font-weight: bold;
}

.description-detail {
    margin-bottom: 25px;
    font-size: 1rem;
    font-weight: bold;
}

.btn-add-car {
    margin-bottom: 25px;
    width: 100%;
    height: 35px;
    border-radius: 5px;
    background-color: var(--color-principal);
    cursor: pointer;
    color: var(--color-blanco);
    font-size: 1rem;
    font-weight: bold;
}

.botones-detail {
    display: flex;
    justify-content: center;
    gap: 1em;
}

.botones-detail .warning {
    height: 40px;
    padding: 10px;
    width: 100%;
    background-color: var(--color-amarillo);
    color: var(--color-negro);
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

.botones-detail .danger {
    height: 40px;
    padding: 10px;
    width: 100%;
    background-color: var(--color-rojo);
    color: var(--color-blanco);
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

@media screen and (min-width: 768px) {
    .card-product-detail {
        margin-bottom: 100px;
        width: 100%;
        background-color: rgb(252, 252, 252);
        height: 300px;
        padding: 5px;
        border-radius: 8px;
        box-shadow: 4px 4px 7px #ccc;
        height: auto;
        display: flex;
    }
    .product-detail-img {
        width: 50%;
    }
    .product-detail-img img {
        width: 100%;
        height: 400px;
        border-radius: 5px;
    }
    .product-detail-info-product {
        width: 50%;
        padding: 10px;
    }
}

@media screen and (min-width: 1024px) {
    .card-product-detail {
        margin-bottom: 100px;
        width: 100%;
        background-color: rgb(252, 252, 252);
        height: 300px;
        padding: 5px;
        border-radius: 8px;
        box-shadow: 4px 4px 7px #ccc;
        height: auto;
        display: flex;
    }
    .product-detail-img {
        width: 50%;
    }
    .product-detail-img img {
        width: 100%;
        height: 400px;
        border-radius: 5px;
    }
    .product-detail-info-product {
        width: 50%;
        padding: 10px;
    }
}


/* 




 */