.main-newProduct {
    width: 100%;
    margin: 100px auto;
}

.container {
    width: 90%;
    margin: 0 auto;
}

.main-register h2::after {
    height: 1px;
    content: '\a0';
    background-color: var(--color-principal);
    flex-grow: 1;
    position: relative;
    top: 0.7em;
    margin-left: 10px;
}

.main-register h2::before {
    height: 1px;
    content: '\a0';
    background-color: var(--color-principal);
    flex-grow: 1;
    position: relative;
    top: 0.7em;
    margin-right: 10px;
}

.main-register h2 {
    margin: 10px 0 30px 0;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
}

label {
    font-weight: bold;
}

.nombreProduct,
.descripcionProduct,
.precioProduct,
.categoriaProduct,
.temporadaProduct {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.nombreProduct input {
    height: 42px;
    border: 1px solid var(--color-principal);
    border-radius: 5px;
    padding-left: 5px;
    outline: none;
}

.descripcionProduct input {
    height: 42px;
    border: 1px solid var(--color-principal);
    border-radius: 5px;
    padding-left: 5px;
    outline: none;
}

.precioProduct input {
    height: 42px;
    border: 1px solid var(--color-principal);
    border-radius: 5px;
    padding-left: 5px;
    outline: none;
}

.categoriaProduct input {
    height: 42px;
    border: 1px solid var(--color-principal);
    border-radius: 5px;
    padding-left: 5px;
    outline: none;
}

.temporadaProduct input {
    height: 42px;
    border: 1px solid var(--color-principal);
    border-radius: 5px;
    padding-left: 5px;
    outline: none;
}

.botones-list {
    margin-top: 20px;
    margin-right: 35px;
    display: flex;
    justify-content: flex-end;
    gap: 1em;
}

.botones-list button {
    height: 40px;
    padding: 10px;
    width: 100%;
    background-color: var(--color-principal);
    color: #fff;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

@media screen and (min-width: 769px) {
    .main-newProduct {
        width: 70%;
        margin: 100px auto;
    }
    .container {
        width: 70%;
        margin: 0 auto;
    }
}

@media screen and (min-width: 1024px) {
    .main-newProduct {
        width: 60%;
        margin: 100px auto;
    }
    .container {
        width: 60%;
        margin: 0 auto;
    }
}