<%- include ('partials/head') -%>
    <main>
        <section id="mainSecctionTop">
            <picture>
                <img id="imagenPrincipal" src="/images/banner-top.jpg" />
            </picture>
            <article id="mainArticleTop">
                <p id="tituloGancho">Hacemos tus sueños realidad</p>
                <p id="subTituloGancho">Nunca es tarde para regalar</p>
                <a href="/">
                    <button type="button" class="boton">Comprar ahora</button></a>
            </article>
        </section>

        <section id="mainSecctionMain">
            <h2>Comprá por categorías</h2>

            <ul type="none" class="bigBoxes">
                <li class="boxesCat">
                    <picture>
                        <img src="/images/cono-de-rosas.jpg" class="imgCateg" />
                    </picture>
                    <article class="infoBoxeCat">
                        <h3 class="tituloCat">Arreglos florales</h3>
                        <p>
                            Variedad de tamaños, presentaciones, cantidad y flores -todos se pueden personalizar-
                        </p>
                        <a href="/">
                            <button type="button" class="boton">Ver categoría</button></a>
                    </article>
                </li>

                <li class="boxesCat">
                    <picture>
                        <img src="/images/globos-y-chocolates.jpg" class="imgCateg" />
                    </picture>
                    <article class="infoBoxeCat">
                        <h3 class="tituloCat">Globos y dulces</h3>
                        <p>
                            Distintas presentaciones de bases y cajas, con una variedad ilimitada de globos y golosinas
                        </p>
                        <a href="/">
                            <button type="button" class="boton">Ver categoría</button></a>
                    </article>
                </li>

                <li class="boxesCat">
                    <picture>
                        <img src="/images/desayuno-completo.jpg" class="imgCateg" />
                    </picture>
                    <article class="infoBoxeCat">
                        <h3 class="tituloCat">Desayunos</h3>
                        <p>
                            Bandeja sorpresa, diseñadas para regalar desayunos adapatables a todo tipo de gustos
                        </p>
                        <a href="/">
                            <button type="button" class="boton">Ver categoría</button></a>
                    </article>
                </li>
            </ul>
        </section>

        <section>
            <h2>Comprá por temporada</h2>

            <ul type="none">
                <li class="boxesTemp">
                    <picture>
                        <a href="/">
                            <img src="/images/banner-dia-de-la-madre.jpg" class="imgTemp" /></a>
                    </picture>
                </li>

                <li class="boxesTemp">
                    <picture>
                        <a href="/">
                            <img src="/images/banner-dia-del-padre.jpg" class="imgTemp" /></a>
                    </picture>
                </li>

                <li class="boxesTemp">
                    <picture>
                        <a href="/">
                            <img src="/images/banner-otras-temporadas.jpg" class="imgTemp" /></a>
                    </picture>
                </li>
            </ul>

            <section>
                <h2>Visita nuestra cuenta de Instagram</h2>
                <nav id="insta">
                    <a href="https://www.instagram.com/dolceregalo.arg/" target="_blank">
                        <h2 id="tituloInsta">
                            dolceregalo.arg <i class="fa-brands fa-instagram"></i></h2>
                    </a>
                    <article id="subInsta">
                        <p>142 PUBLICACIONES</p>
                        <p>2.310 SEGUIDORES</p>
                    </article>
                </nav>
                <picture class="imgClassInsta">
                    <img src="/images/instagram-1.jpg" class="imgInstagram" />
                    <img src="/images/instagram-2.jpg" class="imgInstagram" />
                    <img src="/images/instagram-3.jpg" class="imgInstagram" />
                    <img src="/images/instagram-4.jpg" class="imgInstagram" />
                    <img src="/images/instagram-5.jpg" class="imgInstagram" />
                    <img src="/images/instagram-6.jpg" class="imgInstagram" />
                </picture>
            </section>
        </section>
    </main>
    <%- include ('partials/footer') -%>