<%- include ('partials/head') -%>
    <div class="contenedor-product-detail">
        <%if(product.length > 0){%>

            <%}else{%>

                <h1>No hay datos</h1>
                <%}%>
    </div>
    <%- include ('partials/footer') -%>