.main-view-users h2 {
    color: #fff;
}

.pagination {
    display: flex;
    justify-content: flex-end;
}

.pagination button {
    color: #fff;
}


/*style dialog*/

.MuiDialog-paper {
    background-color: #2b3091 !important;
    overflow-x: hidden !important;
    color: rgb(255 255 255 / 87%) !important;
}