.containers-home {
    background-image: url(../../../public/images/home/banner-home.png);
    height: auto;
}

.info {
    padding: 10px;
}

.info p:nth-child(1) {
    font-size: 3rem;
    font-weight: bold;
    text-shadow: 0px 0px 0.8rem white;
}

.info p:nth-child(2) {
    font-size: 1.8rem;
    text-shadow: 0px 0px 0.8rem white;
}

.info button {
    background-color: #9feaf5;
    font-size: 1rem;
    height: 35px;
    border-radius: 5px;
    padding: 0.5rem;
}

h2 {
    margin: 40px 0 30px 0;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
}

h2::before {
    height: 1px;
    content: '\a0';
    background-color: var(--color-principal);
    flex-grow: 1;
    position: relative;
    top: 0.7em;
    margin-right: 10px;
}

h2::after {
    height: 1px;
    content: '\a0';
    background-color: var(--color-principal);
    flex-grow: 1;
    position: relative;
    top: 0.7em;
    margin-left: 10px;
}