<%- include ('../partials/head') -%>
    <section id="mainSecctionMain">
        <h2>Comprá por categorías</h2>

        <ul type="none" class="bigBoxes">
            <li class="boxesCat">
                <picture>
                    <img src="/images/home//cono-de-rosas.jpg" class="imgCateg" />
                </picture>
                <article class="infoBoxeCat">
                    <h3 class="tituloCat">Arreglos florales</h3>
                    <p>
                        Variedad de tamaños, presentaciones, cantidad y flores -todos se pueden personalizar-
                    </p>
                    <a href="/products/category/Arreglos%20florales">
                        <button type="button" class="boton">Ver categoría</button></a>
                </article>
            </li>

            <li class="boxesCat">
                <picture>
                    <img src="/images/home//globos-y-chocolates.jpg" class="imgCateg" />
                </picture>
                <article class="infoBoxeCat">
                    <h3 class="tituloCat">Globos y dulces</h3>
                    <p>
                        Distintas presentaciones de bases y cajas, con una variedad ilimitada de globos y golosinas
                    </p>
                    <a href="/products/category/Globos%20y%20dulces">
                        <button type="button" class="boton">Ver categoría</button></a>
                </article>
            </li>

            <li class="boxesCat">
                <picture>
                    <img src="/images/home//desayuno-completo.jpg" class="imgCateg" />
                </picture>
                <article class="infoBoxeCat">
                    <h3 class="tituloCat">Desayunos</h3>
                    <p>
                        Bandeja sorpresa, diseñadas para regalar desayunos adapatables a todo tipo de gustos
                    </p>
                    <a href="/products/category/Desayunos">
                        <button type="button" class="boton">Ver categoría</button></a>
                </article>
            </li>
        </ul>
    </section>

    <section>
        <h2>Comprá por temporada</h2>

        <ul type="none">
            <li class="boxesTemp">
                <picture>
                    <a href="/">
                        <img src="/images/home/banner-dia-de-la-madre.jpg" class="imgTemp" /></a>
                </picture>
            </li>

            <li class="boxesTemp">
                <picture>
                    <a href="/">
                        <img src="/images/home/banner-dia-del-padre.jpg" class="imgTemp" /></a>
                </picture>
            </li>

            <li class="boxesTemp">
                <picture>
                    <a href="/">
                        <img src="/images/home/banner-otras-temporadas.jpg" class="imgTemp" /></a>
                </picture>
            </li>
        </ul>
    </section>
    <%- include ('../partials/footer') -%>