<%- include ('../partials/head') -%>
    <div class="container-informacion">
        <div class="mision">
            <h3>Datos de contacto</h3>
            <p>Camila Sanabria</p>
            <p>Mail: contactanos@dolceregalo.com</p>
            <p>Teléfono de contacto: 11-xxxx-xxxx</p>
            <p>Horarios: 8hs - 17hs</p>
            <p>Dirección: Paraguay 2420, CABA, BUENOS AIRES, ARGENTINA.</p>
        </div>

        <div class="mision">
            <h3>Dirección en mapa</h3>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d821.0632274696273!2d-58.40310883046514!3d-34.59776569436767!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bccba22f6f283d%3A0xfc2011f7e4908b90!2sDolce%20regalo!5e0!3m2!1ses!2sar!4v1668565829509!5m2!1ses!2sar" id="direccion" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
    <%- include ('../partials/footer') -%>