<div class="container-car-shopping">
    <i class="fa-solid fa-xmark" id="close-car"></i>
    <div class="head-shopping-car">
        <h3>Mi carrito</h3>
        <p></p>
    </div>
    <div class="content-shopping-car">
        <h3>El carrito de compras esta vacio</h3>
        <a href="#">Volver a la tienda</a>
    </div>
</div>