.container-banner {
    width: 100%;
    background-color: var(--color-negro);
    color: var(--color-blanco);
    padding: 20px;
}

.info-banner p {
    font-size: 1.4rem;
}

.info-banner input {
    height: 50px;
    display: flex;
    /* margin-top: 8px; */
    border-radius: 7px;
    outline: none;
    border: none;
    padding-left: 8px;
    width: 250px;
}

.info-banner input::placeholder {
    font-size: 1.4em;
}

.info-banner button {
    height: 50px;
    background-color: var(--color-principal);
    /* margin-top: 8px; */
    border-radius: 7px;
    border: none;
    width: 100px;
    color: var(--color-blanco);
    font-weight: bold;
    font-size: 17px;
}