<footer>
    <section class="email-footer">
        <p>Dejanos tu mail para recibir novedades</p>
        <input type="email" placeholder="Tu email">
        <button>Enviar</button>
    </section>
    <div class="container-footer">
        <section class="medios-pago">
            <b class="pie-pagina">Medios de Pago</b>
            <article class="pagos">
                <img src="images/visa.png" alt="">
                <img src="images/mercadopago.png" alt="">
                <img src="images/mastercard.png" alt="">
            </article>

        </section>
        <section class="medio-envio">
            <i class="fa-solid fa-gift"></i>
            <b class="pie-pagina">Medio De Envios </b>
            <div class="gift">
                <img src="images/personalizado.png" alt="">
                <img src="images/correo-argentino.png" alt="">
            </div>
        </section>
        <section class="redes">
            <div class="segurity">
                <i class="fa-solid fa-user-shield"></i>
                <b class="pie-pagina">Nuestras redes sociales</b>
                <div class="icon-redes">
                    <a><i class="fa-brands fa-facebook"></i></a>
                    <a><i class="fa-brands fa-instagram"></i></a>
                    <a><i class="fa-brands fa-tiktok"></i></a>
                </div>
            </div>

        </section>
        <section class="contacto">
            <b class="pie-pagina">Contacto</b>
            <h3>dolceregalo@gamil.com</h3>
            <h4>Central Argentina</h4>
        </section>
    </div>
</footer>
<section class="copyright">
    <p>Copyright &copy; dolceregalo.arg</p>
</section>



<script src="js/hamburger.js"></script>
</body>


</html>