<header>
    <img src="images/logo.jpg" alt="">
    <nav>
        <ul>
            <li><a href="#"> INICIO </a></li>
            <li><a href="#"> PRODUCTOS </a></li>
            <li><a href="#"> CATEGORIAS </a></li>
            <li><a href="#"> INFORMACION </a></li>
            <li><a href="#"> CONTACTO </a></li>
        </ul>
    </nav>
    <i class="fa-solid fa-cart-shopping"></i>
</header>