<header>
    <section class="logo">
        <figure class="logo-header">
            <a href="/"> <img src="/images/header/logo.jpg" alt=""></a>
        </figure>
    </section>
    <section class="hamburgesa">
        <i class="fa-solid fa-bars" id="hambuerger"></i>
    </section>
    <section class="nav" id="navInfo">
        <ul class="ul">
            <li><a href="/"> INICIO </a></li>
            <% if(user){ %>
                <li><a href="/products"> PRODUCTOS </a></li>
                <li><a href="/categories" id="category"> Filtros </a></li>
                <% } %>
                    <div class="category-header" id="categoryClass">
                        <h4>Categorias</h4>
                        <br>
                        <ul class="ul">
                            <%categories.forEach(function(category){%>
                                <li>
                                    <a href="/products/category/<%= category%>">
                                        <%= category%>
                                    </a>
                                </li>
                                <%});%>
                        </ul>
                    </div>
                    <li><a href="/information"> INFORMACIÓN </a></li>
                    <li><a href="/contact"> CONTACTO </a></li>
        </ul>
        <div class="iconos">
            <input type="text" class="buscador" placeholder="Buscar...">
            <i class="fa-solid fa-magnifying-glass" id="buscador"></i>
            <i class="fa-solid fa-user" id="auth"></i>
            <div class="auth" id="authClass">

                <% if (!user) { %>
                    <ul class="ul">
                        <li>
                            <a href="/login"> Ingresar </a>
                        </li>
                        <li>
                            <a href="/register"> Registarse </a>
                        </li>
                    </ul>
                    <% } else { %>
                        <ul class="ul">
                            <li>
                                <a href="/profile/<%=user.sku%>"> Ver mi perfil </a>
                            </li>
                            <li>
                                <a href="/logout"> Cerrar sesión </a>
                            </li>
                        </ul>
                        <% } %>

            </div>
            <div class="shopping-cart">
                <p>1</p>
                <i class="fa-solid fa-cart-shopping" id="icon-car"></i>
            </div>
        </div>
    </section>
</header>