<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- Aqui se coloca el meta para que la pagina sea responsive -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Aqui se coloca el link de font awesome, si se desea utilizar -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />

    <!-- Aqui se coloca el link del tipo de fuente que deseas utilizar -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Limelight&family=Oswald:wght@200&display=swap" rel="stylesheet" />

    <!-- Aqui se coloca las conexiones con los archivos CSS -->
    <link rel="stylesheet" href="/css/home.css" />
    <link rel="stylesheet" href="css/main.css" />
    <link rel="stylesheet" href="css/login.css" />
    <link rel="stylesheet" href="css/register.css" />
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/footer.css" />
    <link rel="stylesheet" href="css/product.css" />

    <!-- Aqui se coloca el nombre que quieres que salga en la pestaña del navegador -->
    <title>Dolce regalo</title>
</head>

<body>
    <%- include ('icon-whatsapp') -%>
        <%- include ('header') -%>